#footergreen {  
    width: 100%;
    padding-top: 25px;
    color: white;
    background-color: #32B14C;
    height: 100px;
  }

  
  

#fmmid{
    display: grid;
    width: 20%;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    margin: auto;
    color: white;
    padding-bottom: 25px;
    text-align: center;
  }
  
  #ftin{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin: auto;
    /* gap: 3%; */
  }
  #ftin div{
    margin: auto;
  }
  #footermiddel{
    background-color: #333333;
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 25px;
    margin-top: -120px;
    
   
  }
  #fmbottom{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    margin: auto;
    color: white;
  }
  #fmbottom a{
    text-decoration: none;
    color: white;
  }
 
  #fmsocial{
    text-align: center;
  }
  #fmsocial img{
    margin-right: 10px;
    padding: 15px 0 15px 0 ;
  }
  #whitewall{
    background-color: white;
    height: 300px;
    text-align: center;
    display: grid;
    /* margin-top: 2800px; */
  }

 

  #playstorebuttons{
    margin-top: -100px;

  }




  /*-------------------------------------- Navbar css starts here ------------------------------------*/


  #navbar{
    background-color: #edf1e9;
    height: 200px;
    width: 100%;
}

#topnavbar{
    background-color: #33b24b;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    
    
}

#topnavbar p{
    color: white;
    margin-right: 100px;
    font-size: 15px;
}

#middlenavbar{
    background-color: #edf1e9;
    width: 100%;
}



#signout:hover{
    cursor: pointer;
    text-decoration: underline;
}

#name:hover{
    cursor: pointer;
    text-decoration: underline;
}

#weight:hover{
    cursor: pointer;
    text-decoration: underline;
}

#recbutton{
    border: none;
}


#mainlogo{
    margin-left: 10%;
    margin-top: 20px;
    
    width: 17%;
}

#india{
    color: #33b24b;
    margin-left: 24%;
    margin-top: -10px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;

}

#recbutton{
    background-color: #edf1e9;
    border: 1px solid rgb(205, 205, 205);
}


#mastersearch{
    background-color: #edf1e9;
    border: 1px solid rgb(205, 205, 205);
    padding: 5px;
    width: 250px;
}

#searchbar{
    margin-left: 10%;
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#mastersearchbutton{
    color: #028cc4;
    background-color: #edf1e9;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    font-weight: bolder;
    width: 50px;
}



#bottomnavbar{
    background-color: #edf1e9;
    /* height: 100px; */
    width: 100%;
    border-top: 1px solid rgb(204, 203, 203);
    border-bottom: 2px solid #bad8e5;
}




#optionsfornav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin-left: 10%;
    /* margin: auto; */
    /* border: 2px solid blue; */
}

#optionsfornav div{
    width: 100%;
    border: 1px solid rgb(204, 203, 203);
    /* padding: 5px; */
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionsfornav div a{
    text-decoration: none;
    color: black;
}

#optionsfornav div a:hover{
    color: #028cc4;
}


#optionsfornav div:hover{
    background-color: #f6f8f4;
    cursor: pointer;
    color: #028cc4;
}

/* please enter here number according to your page */

/* please enter here number according to your page */


body{
    margin: 0;
}


  /*----------------------------------------- navbar css ends here------------------------------------ */