*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 1px solid red; */
    border-bottom: 1px solid  rgb(237,241,233);
}
#foodDetails{
    display: flex;
    width: 45%;
    align-items: center;
    border: 4px solid rgb(84, 192, 69);
    margin-left: 100px;
}
.foodImage img{
    width: 100px ;
    height: 100px;
    margin-left: 40px;
}
#divFlex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#foodSearch{
    background-color:  rgb(237,241,233);
    padding: 50px 50px;
}

/* ******************** */
#flexDataDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 2px solid blue; */
    margin-right: 30px;
    /* width: 60%; */
    /* margin-left: 15vw; */
}
#detailsData{
    display: flex;
    /* width: 100%; */
    /* border: 2px solid red; */
    cursor: pointer;
    /* margin-left: 20px */
}
.foodImg{
    margin: 5px 10px;
}
.beans{
    padding: 5px 5px;
}
.beans h4:hover{
    text-decoration: underline;
}
#AllData{
    display: flex;
    flex-direction: row;
}
#foodProduct{
    margin-left: -120px;
    margin-right: 150px;
}
#foodProduct h1{
    margin-left: 320px;
}
#firse-section{
    display: flex;
    width: 90%;
}
.more{
  color: rgb(2,171,223);
  font-size: 14px;
}

/* ***************** */
#secondFlex{
    /* border: 2px solid red; */
    margin-right: 200px;
}
#secondFlexData{
      background-color: rgb(237,241,233);
      padding: 50px 20px;
      height: 50%;
      width: 300px;
      padding-bottom: 5px;
}
.SecondData{
  /* border: 2px solid green; */
  margin-bottom: 50px;
}
.SecondData li ,#recently li{
  color: rgb(2,171,223);
  font-size: 12px;
  padding: 2px 0px;
  list-style: none;
}
.SecondData li:hover , #recently li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.SecondData li::before ,#recently li::before {
  content: "\2022";
  color: rgb(254,207,128);
  font-size: 20px;
  font-weight: bolder;
  display: inline-block; 
  width: 1em;
  margin-left: 5px;
}
.breakfast,.lunch,.dinner{
  padding-bottom: 30px;
}

/* ************ */
#recently{
    background-color: rgb(237,241,233);
    padding: 50px 0px;
    /* height: 50%; */
    margin-left: -20px;
    padding-left: 10px;
    width: 300px;
 }
 #recent-flex{
    display: flex;
    padding: 10px 0px;
    align-items: center;
 }
 #recently div li{
    margin: 0px 20px;
    padding: 5px 0px;
 }

 /* ************* */

 section{
    width: 50%;
    margin-left: 20%;
    padding-bottom: 20px;
    margin-top: 20px;
}
#sec-3,#sec-4,#sec-5{
    width: 60%;
    margin-left: 10%;
}

#sec-3 p span,#sec-4 p span,#sec-5 p span {
   color: rgb(2,171,223);
   font-size: 12px;
   font-weight: 100;
}
#sec-3 p span:hover ,  #sec-4 p span:hover , #sec-5 p span:hover{
    text-decoration: underline;
    cursor: pointer;
}
#sec-3 div h1,#sec-4 div h1,#sec-5 div h1{
    text-decoration: underline;
    padding-bottom: 10px;
}


#footergreen {  
  width: 100%;
  padding-top: 25px;
  color: white;
  background-color: #32B14C;
  height: 100px;
}
#ftin{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin: auto;
  gap: 3%;
}
#ftin div{
  margin: auto;
}
#footermiddel{
  background-color: #333333;
  width: 100%;
  height: 200px;
  margin: auto;
  padding-top: 25px;
}
#fmbottom{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  margin: auto;
  color: white;
}
#fmbottom a{
  text-decoration: none;
  color: white;
}
#fmmid{
  display: grid;
  width: 20%;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-between;
  margin: auto;
  color: white;
  padding-bottom: 25px;
  text-align: center;
}
#fmsocial{
  text-align: center;
}
#fmsocial img{
  margin-right: 10px;
  padding: 15px 0 15px 0 ;
}
#whitewall{
  background-color: white;
  height: 200px;
  text-align: center;
  display: grid;
  margin-top: 0px;
}
#lockercircle{
  margin-top: -30px;
  text-align: center;
}
#lockercircleblue{
  margin-top: -30px;
  margin-bottom: -35px;
  text-align: center;
}
.fatsecretlogomid{
  padding-top: 45px;
  margin-left: 36%;
}
#blackstrip {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #111111;
  color: white;
  margin: auto;
  justify-content: space-around;
  height: 250px;
}
#st{
  background-color: #32B14C;
  color: white;
  width: 40%;
  padding: 10px;
  margin-top: 90px;
}
#st:hover{
  background-color: #0f7724;
}
.blackleft{
  width: 30%;
  margin: 15px auto 0 auto ;
  padding-top: 50px;
}
.blackright{
  text-align: center;
}
#getconnected{
  background-color: #93ADD2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#gcrightimg{
  margin-bottom: -15px;
  margin-left: 20px;
  width: 50%;
  padding: 10px 10px 0px 10px;
}
#gcleft{
  width: 50%;
  margin: auto;
}
#fmsocial{
  width: 15%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 3%;
  margin: auto;
  justify-content: space-between;
}
#gcinner{
  margin: auto;
} 



/* search bar debouncing css starts */
#searchdiv > label{ 
  font-size: 13px; 
} 

#searchdiv{ 
  width: 20%; 
  margin-right: 98px;
  margin-left: 32px;
  background-color: #edf1e9; 
  /* height: 110px; */ 
  margin-top: 25px; 
  border: 1px solid white; 
} 

#foodsearch{ 
  margin-top: 15px; 
  margin-bottom: 10px; 
} 

#searchdiv > div{ 
  /* border: 2px solid red; */ 
  width: 90%; 
  margin: auto; 
  /* margin-left: 15%; */ 
} 

#searchbox{ 
  width: 80%; 
  padding: 2px; 
  margin-bottom: 25px; 
} 

#searchbutton{ 
  background-color: #028cc4; 
  color: white; 
  border: none; 
  height: 25px; 
  width: 35px; 
} 
/* ////////////////////////////// */ 
#searchresultbox{ 
  border: 1px solid rgb(155, 208, 232); 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  width: 280px;  
  /* height: 100px; */ 
  background-color: white; 
  /* margin-bottom: 25px;  */
  /* display: block; */ 
  display: none; 
} 

#searchresultbox p{ 
  margin-left: 5px; 
  padding: 5px; 
} 

#searchresultbox p:hover{ 
  background-color: #ecfcfc; 
  cursor: pointer; 
}