.display-flex {
    display: flex;
}
.row {
    margin-left: 256px;
}
.data > div {
    border: 1px solid;
    padding: 2px 20px;
    font-size: 11px;
}
.data img {
    width: 39px;
    height: 41px;
    margin-top: 10px;
    margin-right: 5px;
}
.headerFirst {
    color: #5e5e53;
    font: 700 19px Helvetica,Arial;
    margin-bottom: 30px;
    margin-top: 18px;
    text-transform: capitalize;
}
.feed {
    padding: 20px 20px 0px 20px;
    display: flex;
    gap: 10px;
}
.border {
    border: 16px solid #E9EAED;
    width: 52%;
}
.name {
    color: #333; 
    font-size: 13px;
    line-height: 18px;
    word-break: break-word;
}
.feed img {
    width: 100%;
}
.commentSection {
    background-color: #F6F7F8;
}
.comments {
    justify-content: space-around;
    font-size: 9px;
    padding-bottom: 10px;
}
.comments button {
    height: 26px;
    margin-top: 5px;
    font-size: 9px;
    position: relative;
    left: 50px;
}
.hide {
    display: none;
}
.com {
    gap: 15px;
    margin-top: 20px;
    padding: 16px 72px;
    margin:auto;
    background-color: #F6F7F8;
}
.cmntLine {
    font-size: 13px;
}
.memberLink {
    color: #028cc4;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}
.cmntInput {
    width: 455px;
    padding: 2px 4px 10px 5px;
    font-size: 13px;
}
.footer {
    background-color: #F6F7F8;
    display: flex;
    justify-content: flex-end;
    padding-right: 82px;
    padding-bottom: 30px;
}
.footer button {
    margin-right: 15px;
    font-size: 12px;
    height: 20px;
    border: 0.4px solid;
    font-weight: 700;
}
.cancelBtn {
    color: #028cc4;
}
.cmntBtn {
    color: white;
    background-color: rgb(177, 177, 177);
    height: 20px;
    padding: 2px 9px;
}
