.display-flex {
    display: flex;
}
.row {
    margin-left: 256px;
}
.data > div {
    border: 1px solid;
    padding: 2px 20px;
    font-size: 11px;
}
.data img {
    width: 39px;
    height: 41px;
    margin-top: 10px;
    margin-right: 5px;
}
.headerFirst {
    color: #5e5e53;
    font: 700 19px Helvetica,Arial;
    margin-bottom: 30px;
    margin-top: 18px;
    text-transform: capitalize;
}
.feed {
    padding: 20px 20px 0px 20px;
    display: flex;
    gap: 10px;
}
.border {
    border: 16px solid #E9EAED;
    width: 52%;
}
.name {
    color: #333; 
    font-size: 13px;
    line-height: 18px;
    word-break: break-word;
}
.feed img {
    width: 100%;
}
.commentSection {
    background-color: #F6F7F8;
}
.comments {
    justify-content: space-around;
    font-size: 9px;
    padding-bottom: 10px;
}
.comments button {
    height: 26px;
    margin-top: 5px;
    font-size: 9px;
    position: relative;
    left: 50px;
}
.hide {
    display: none;
}
.com {
    gap: 15px;
    margin-top: 20px;
    padding: 16px 72px;
    margin:auto;
    background-color: #F6F7F8;
}
.cmntLine {
    font-size: 13px;
}
.memberLink {
    color: #028cc4;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}
.cmntInput {
    width: 455px;
    padding: 2px 4px 10px 5px;
    font-size: 13px;
}
.footer {
    background-color: #F6F7F8;
    display: flex;
    justify-content: flex-end;
    padding-right: 82px;
    padding-bottom: 30px;
}
.footer button {
    margin-right: 15px;
    font-size: 12px;
    height: 20px;
    border: 0.4px solid;
    font-weight: 700;
}
.cancelBtn {
    color: #028cc4;
}
.cmntBtn {
    color: white;
    background-color: rgb(177, 177, 177);
    height: 20px;
    padding: 2px 9px;
}
.name1 {
    margin-left: 10px;
    color: #333;
    font: 700 19px Helvetica,Arial;
    margin-bottom: 0;
    margin-top: 13px;
}
.para-hifi {
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    justify-content: flex-end;
    display: flex;
    border-bottom: 2px solid darkblue;
    padding-bottom: 5px;
    margin-bottom: 25px;
    color: #028cc4;
    margin-top: 0px;
}
.margin-top-line {
    border-top: 1px solid gray;
    padding-top: 20px;
}
.mainPart {
    width: 52%;
}
.border1 {
    border: 1px solid #E9EAED;
}
.feed-new {
    padding: 1px 20px 0px 20px;
    display: flex;
    gap: 10px;
}
.kcal {
    color:#C05F5F;
    font-size:11px;
    font-weight:bold;
    cursor:default;
}
.detailSection {
    gap: 20px;
    margin-left: 20px;
}
.detailSection img {
    width: 20px; height: 20px; margin-top:13px;
}
.detailSection:last-child {
    font-size: 11px;
    width: 90%;
    line-height: 1.3;
}
.title {
    margin: 40px auto;
    color: #777;
    font-size: 15px;
    gap: 15px;
    font-weight: 700;
    text-align: center;
}
.title img {
    width: 36px;
    height: 30px;
    margin-top: 8px;
}
.particularComment :first-child {
    font-size: 13px;
}
.particularComment :last-child {
    font-size: 11px;
}
.particularComment {
    border-bottom: 1px solid #f2d3d3;
    padding-bottom: 10px;
}
.newFooter {
    background-color: #fcf3e5;
}
.com1 {
    margin-top: 20px;
    padding: 16px 72px;
    margin-bottom: 70px;
}
.lastOne {
    justify-content: space-around;
}
.submitBtn {
    height: 20px;
    margin-top: 23px;
    color: white;
    background-color: green;
    padding: 1px 13px;
    font-weight: 700;
    border: 1px solid;
}
.cmntInp2 {
    margin-left: 62px;
    width: 500px;
    margin-top: -20px;
    height: 50px;
}
#mainPart {
    padding: 0px 400px;
    margin-top: 25px;
}
.cmntName {
    color: #028cc4;
}
#rightparent {
    position: absolute;
    top: 182px;
    right: 193px;
    width: 23%;
}
.column1 {
    margin-top: 29px;
}
#optionsfornav div:nth-child(1){
    background-color: white;
    border-bottom: none;
}