.display-flex {
    display: flex;
}
.data > div {
    border: 1px solid;
    padding: 2px 20px;
    font-size: 11px;
}
.data img {
    width: 39px;
    height: 41px;
    margin-top: 10px;
    margin-right: 5px;
}
.headerFirst {
    color: #5e5e53;
    font: 700 19px Helvetica,Arial;
    margin-bottom: 0;
    margin-top: 18px;
    text-transform: capitalize;
}
.feed {
    padding: 20px 20px 0px 20px;
    display: flex;
    gap: 10px;
}
.border {
    border: 16px solid #E9EAED;
    width: 41%;
}
.name {
    color: #333; 
    font-size: 13px;
    line-height: 18px;
    word-break: break-word;
}
.feed img {
    width: 100%;
}
.commentSection {
    background-color: #F6F7F8;
}
.comments {
    justify-content: space-around;
    font-size: 9px;
}
.comments button {
    height: 26px;
    margin-top: 5px;
    font-size: 9px;
    position: relative;
    left: 50px;
}
.hide {
    display: none;
}
