#main_parent{
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    height: 150px;
}

#leftparent{
    /* width: 62%; */
    width: 67%;
    /* border: 2px solid purple; */

}


#homelogo{
    height: 20px;
    display: flex;
    align-items: center;
}

#homelogo > p > a{
    text-decoration: none;
    font-size: 15px;
    color: #85c2da;
}



#toprecepiediv{
    width: 100%;
    /* border: 5px solid #5fb34d; */
    border: 1px solid rgb(196, 199, 196);

    /* height: 200px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recepiehead{
    /* margin-bottom: 0px; */
}

#recepiesearch{
    width: 80%;
    /* border: 2px solid rebeccapurple; */
}

#recepiesearch label{
    font-weight: bolder;
    margin-right: 35px;
}

#recepiesearch hr{
    border-top: 1px dashed rgb(59, 188, 59);
    margin-bottom: -2px;
}

#mealtype{
    width: 83%;
    
}

#topsearchbar{
    width: 82%;
}

#topsearchbutton{
    display: flex;
    margin-left: 85%;
    color: white;
    background-color: #028cc4;
    font-size: 18px;
    padding: 5px;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}

#topsearchbutton:hover{
    background-color: #05688f;
}

#pages{
    background-color: #edf1e9;
    height: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    

}

#pages p{
    margin-right: 15px;
    font-size: 15px;
}

/*---------------------------------left parent css starts----------------------------------- */




#lowp{
    font-weight: bold;
    margin-left: 15px;
    margin-top: -10px;
}

#lowp + img{
    width: 96%;
    display: flex;
    margin: auto;
    height: 150px;
}

#freshpeasoup a{
    text-decoration: none;
    color: #028cc4;
}

#freshpeasoup + p{
    margin-top: -10px;
    font-size: 15px;
    width: 96%;
    margin-left: 10px;
}

#freshpeasoup + p + img{
    margin-top: -12px;
    margin-left: 10px;
}

#viewmorelowcholesterol a{
    text-decoration: none;
    color: #028cc4;
    margin-left: 12%;
    font-size: 13px;
    font-weight: bold;
    
}

#viewmorelowcholesterol{
    margin-top: 0px;
}

#popular_recipes{
    /* border: 2px solid red; */
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

#popular_recipes > div{
    width: 100%;
    height: 85px;
    /* border: 2px solid green; */
    border-bottom: 1px solid rgb(230, 230, 230);
    
    display: flex;
    align-items: center;
}

#popular_recipes > div > div:nth-child(1){

}


#popular_recipes > div > div:nth-child(1) > img{
    height: 60px;
    width: 60px;
}


#popular_recipes > div > div:nth-child(2){
    
}

#popular_recipes > div > div:nth-child(2) > p{
    width: 350px;
    /* height: 5px; */
    margin-left: 10px;
    margin-top: -20px;
    font-size: 15px;
}

#popular_recipes > div > div:nth-child(2) > h4 > a{
    text-decoration: none;
    color: #028cc4;
}

#popular_recipes > div > div:nth-child(2) > h4{
    margin-top: 5px;
    margin-left: 10px;
}

#popular_recipes > div > div:nth-child(2) > img{
    display: flex;
    margin-top: -10px;
    margin-left: 10px;
}

#popular_recipes > div > div:nth-child(3){
   
}

#popular_recipes > div > div:nth-child(3) > p{
   font-size: 14px;
}

#popular_recipes > div > div:nth-child(3) > p:nth-child(1){
    text-align: right;
    margin-top: 48px;
    margin-bottom: -10px;
}

#popular_recipes > div > div:nth-child(3) > p:nth-child(1) > a{
    color: #028cc4;
    text-decoration: none;
    
}

#popular_recipes > div > div:nth-child(3) > p:nth-child(2){
   color: gray;
   font-size: 12px;
}



/*---------------------------------left parent css Ends----------------------------------- */


/*---------------------------------right parent css Starts----------------------------------- */



#rightparent{
    width: 30%;
    /* border: 2px solid green; */
    margin-top: 20px;
    height: 1000px;
}

#searchdiv > label{
    font-size: 13px;
}

#searchdiv{
    width: 100%;
    background-color: #edf1e9;
    /* height: 110px; */
    margin-top: 25px;
    border: 1px solid white;
}

#foodsearch{
    margin-top: 15px;
    margin-bottom: 10px;
}

#searchdiv > div{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    /* margin-left: 15%; */
}

#searchbox{
    width: 80%;
    padding: 2px;
    margin-bottom: 25px;
}

#searchbutton{
    background-color: #028cc4;
    color: white;
    border: none;
    height: 25px;
    width: 35px;
}
/* ////////////////////////////// */
#searchresultbox{
    border: 1px solid rgb(155, 208, 232);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px; 
    /* height: 100px; */
    background-color: white;
    margin-bottom: 25px;
    /* display: block; */
    display: none;
}

#searchresultbox p{
    margin-left: 5px;
    padding: 5px;
}

#searchresultbox p:hover{
    background-color: #ecfcfc;
    cursor: pointer;
}


#advertisementdiv{
    margin-top: 25px;
}

#advertisementdiv img{
    width: 100%;
    height: 280px;
}

#browserecipesdeeper{
    
    /* height: 1000px; */
    width: 100%;
    border: 1px solid #edf1e9;
    background-color: #edf1e9;
}


#metype{
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 25px;
}



#mealtypediv p{
    background-repeat: no-repeat;
    margin-left: 25px;
    vertical-align: top;
    display: flex;
    color: #028cc4;
    width: 90%;
}


#mealtypediv p:hover{
    cursor: pointer;
    background-color: #ddead1;

}

#foo{
    color: black;
    font-size: 15px;
    margin-left: 25px;
}

#foodsandingreidents p{
    background-repeat: no-repeat;
    margin-left: 25px;
    vertical-align: top;
    display: flex;
    color: #028cc4;

}

#foodsandingreidents p:hover{
    cursor: pointer;
    background-color: #ddead1;

}

#di{
    color: black;
    font-size: 15px;
    margin-left: 25px;
}


#dietandnutrition p{
    background-repeat: no-repeat;
    margin-left: 25px;
    vertical-align: top;
    display: flex;
    color: #028cc4;
}

#dietandnutrition p:hover{
    cursor: pointer;
    background-color: #ddead1;

}





#sharereceipe{
    margin-top: 25px;
    text-decoration: underline;
    cursor: pointer;
    color: #028cc4;
    display: flex;
    
}

#mycookbook{
    background-color: #fcf3e5;
    width: 100%;
    /* height: 200px; */
    border: 1px solid #fcf3e5;
}

#my{
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}

#published{
    margin-left: 10px; 
    font-size: 14px;
    margin-bottom: -10px;
}

#published a{
    text-decoration: none;
    color: #028cc4;
}

#recently1{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: -10px;
}

#noentries{
    margin-left: 10px; 
    font-size: 14px;
}

#noentries a{
    text-decoration: none;
    color: #028cc4;
}







/*---------------------------------right parent css Ends----------------------------------- */



















/* -------------------------------------Footer Section Starts-------------------------------------------------- */



 
  
  /* css code   */

  #footergreen {  
    width: 100%;
    padding-top: 25px;
    color: white;
    background-color: #32B14C;
    height: 100px;
  }

  
  

#fmmid{
    display: grid;
    width: 20%;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    margin: auto;
    color: white;
    padding-bottom: 25px;
    text-align: center;
  }
  
  #ftin{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin: auto;
    /* gap: 3%; */
  }
  #ftin div{
    margin: auto;
  }
  #footermiddel{
    background-color: #333333;
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 25px;
    margin-top: -120px;
    
   
  }
  #fmbottom{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    margin: auto;
    color: white;
  }
  #fmbottom a{
    text-decoration: none;
    color: white;
  }
 
  #fmsocial{
    text-align: center;
  }
  #fmsocial img{
    margin-right: 10px;
    padding: 15px 0 15px 0 ;
  }
  #whitewall{
    background-color: white;
    height: 300px;
    text-align: center;
    display: grid;
    margin-top: 2400px;                      
    /* ------------------------------------------------ */
  }

 

  #playstorebuttons{
    margin-top: -100px;

  }

 /* -------------------------------------Footer Section Ends-------------------------------------------------- */
  
 
  


  
/*-------------------------------------- Navbar css starts here ------------------------------------*/


#navbar{
    background-color: #edf1e9;
    height: 200px;
    width: 100%;
}

#topnavbar{
    background-color: #33b24b;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    
    
}

#topnavbar p{
    color: white;
    margin-right: 100px;
    font-size: 15px;
}

#middlenavbar{
    background-color: #edf1e9;
    width: 100%;
}



#signout:hover{
    cursor: pointer;
    text-decoration: underline;
}

#name:hover{
    cursor: pointer;
    text-decoration: underline;
}

#weight:hover{
    cursor: pointer;
    text-decoration: underline;
}

#recbutton{
    border: none;
}


#mainlogo{
    margin-left: 10%;
    margin-top: 20px;
    
    width: 17%;
}

#india{
    color: #33b24b;
    margin-left: 24%;
    margin-top: -10px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;

}

#recbutton{
    background-color: #edf1e9;
    border: 1px solid rgb(205, 205, 205);
}


#mastersearch{
    background-color: #edf1e9;
    border: 1px solid rgb(205, 205, 205);
    padding: 5px;
    width: 250px;
}

#searchbar{
    margin-left: 10%;
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#mastersearchbutton{
    color: #028cc4;
    background-color: #edf1e9;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    font-weight: bolder;
    width: 50px;
}



#bottomnavbar{
    background-color: #edf1e9;
    /* height: 100px; */
    width: 100%;
    border-top: 1px solid rgb(204, 203, 203);
    border-bottom: 2px solid #bad8e5;
}




#optionsfornav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin-left: 10%;
    /* margin: auto; */
    /* border: 2px solid blue; */
}

#optionsfornav div{
    width: 100%;
    border: 1px solid rgb(204, 203, 203);
    /* padding: 5px; */
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionsfornav div a{
    text-decoration: none;
    color: black;
}

#optionsfornav div a:hover{
    color: #028cc4;
}


#optionsfornav div:hover{
    background-color: #f6f8f4;
    cursor: pointer;
    color: #028cc4;
}

/* please enter here number according to your page */
#optionsfornav div:nth-child(3){
    background-color: white;
    border-bottom: none;
}
/* please enter here number according to your page */


body{
    margin: 0;
}
 /*----------------------------------------- navbar css ends here------------------------------------ */